<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>부동 - 메인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/home.css}">
    <script crossorigin src="https://kit.fontawesome.com/fb3e47569e.js"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/home.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/home/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/home/cover.html :: cover}"></th:block>
<th:block th:replace="~{fragments/home/loginForm.html :: loginForm}"></th:block>
<th:block th:replace="~{fragments/home/registerForm.html :: registerForm}"></th:block>
<th:block th:replace="~{fragments/home/recoverDialog.html :: recoverDialog}"></th:block>
<th:block th:replace="~{fragments/home/centerDialog.html :: centerDialog}"></th:block>
<th:block th:replace="~{fragments/home/termsOfUseDialog.html :: termsOfUseDialog}"></th:block>
<th:block th:replace="~{fragments/home/privacyDialog.html :: privacyDialog}"></th:block>
<th:block th:replace="~{fragments/home/emailDialog.html :: emailDialog}"></th:block>
<th:block th:replace="~{fragments/home/locationDialog.html :: locationDialog}"></th:block>
<th:block th:replace="~{fragments/home/disclaimerDialog.html :: disclaimerDialog}"></th:block>

<th:block th:replace="~{fragments/home/backgroundImageCover.html :: backgroundImageCover}"></th:block>
<th:block th:replace="~{fragments/home/header.html :: header}"></th:block>
<th:block th:replace="~{fragments/home/main.html :: main}"></th:block>
<th:block th:replace="~{fragments/home/footer.html :: footer}"></th:block>
</body>
</html>