<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.ljh.budong.mappers.CenterMapper">
    <insert id="insertCenter"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="org.com.ljh.budong.entities.CenterEntity">
        INSERT INTO `budong`.`center` (`user`, `category`, `content`, `created_at`)
        VALUES (#{user}, #{category}, #{content}, #{createdAt})
    </insert>
</mapper>