body {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.5019607843);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body .background-image-cover {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 1;
}
body #header {
  background-color: transparent;
  padding: 0.75rem 1.25rem;
  z-index: 2;
}
body #header .nav .menu {
  font-family: inherit;
  font-size: 0.85rem;
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
body #header .nav .menu .spring {
  flex-grow: 1;
}
body #header .nav .menu .item .link {
  color: inherit;
  text-decoration: none;
}
body #header .nav .menu .item .link:hover {
  text-underline: none;
}
body #header .nav .menu .item .login {
  background-color: rgba(128, 128, 128, 0.5019607843);
  width: 4rem;
  border-radius: 0.25rem;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-align: center;
}
body #header .nav .menu .item .logout {
  background-color: rgba(128, 128, 128, 0.5019607843);
  width: 4rem;
  border-radius: 0.25rem;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-align: center;
}

#main {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  z-index: 2;
}
#main .search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#main .search-form .input-container {
  width: 36rem;
  border: 0.0625rem solid transparent;
  background-color: rgba(128, 128, 128, 0.5019607843);
  border-radius: 999rem;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
#main .search-form .input-container:hover {
  box-shadow: 0 0 0.5rem 0.0625rem rgba(160, 160, 160, 0.3137254902);
}
#main .search-form .input-container:focus-within {
  box-shadow: 0 0 0.5rem 0.0625rem rgba(160, 160, 160, 0.3137254902);
}
#main .search-form .input-container .select {
  background-color: transparent;
  display: flex;
  width: 7rem;
  padding-left: 0.5rem;
  border: none;
  font-family: inherit;
  font-weight: 1000;
  font-size: 1rem;
  color: #eeeeee;
}
#main .search-form .input-container .select:focus {
  outline: none;
  border: none;
}
#main .search-form .input-container .select .option {
  color: black;
}
#main .search-form .input-container .search {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-family: inherit;
  font-weight: 1000;
  font-size: 1rem;
  outline: none;
  color: #eeeeee;
}
#main .search-form .input-container .search::placeholder {
  color: #eeeeee;
  font-weight: 1000;
  font-size: 1rem;
}
#main .search-form .input-container .search-button {
  display: flex;
  align-items: center;
  width: 2.5rem;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  background-color: #129ded;
  border: 0.0625rem solid transparent;
  border-radius: 999rem;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
#main .search-form .input-container .search-button:hover {
  background-color: #108dd5;
  width: 3rem;
}
#main .search-form .input-container .search-button:active {
  background-color: #0e7ebe;
}
#main .search-form .input-container .search-button .icon {
  color: #eeeeee;
}
#main .map-link {
  display: flex;
  align-items: center;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  background-color: #129ded;
  border: 0.0625rem solid transparent;
  border-radius: 999rem;
}
#main .map-link:hover {
  background-color: #108dd5;
  box-shadow: 0 0 0.5rem 0.125rem rgba(160, 160, 160, 0.3137254902);
}
#main .map-link:active {
  background-color: #0e7ebe;
  box-shadow: 0 0 0.5rem 0.125rem rgba(160, 160, 160, 0.3137254902);
}
#main .map-link .icon {
  font-size: 1.25rem;
  color: #eeeeee;
}

#footer {
  background-color: #f2f2f2;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
#footer .menu {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.625rem;
  justify-content: flex-start;
}
#footer .menu .spring {
  flex-grow: 1;
}
#footer .menu .item .link {
  color: inherit;
  text-decoration: none;
}
#footer .menu .item .link:hover {
  text-decoration: underline;
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  user-select: none;
  z-index: 10;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
#loading > .image {
  top: 0.25rem;
  width: 3.5rem;
  height: 3.5rem;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: animation-loading-image;
  animation-timing-function: linear;
  position: relative;
  transition: top 250ms;
}
@keyframes animation-loading-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading > .text {
  top: 0.25rem;
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 0;
  position: relative;
  transition-delay: 125ms;
  transition-duration: 250ms;
  transition-property: top, opacity;
}
#loading.-visible {
  opacity: 1;
  pointer-events: all;
}
#loading.-visible > .image {
  top: 0;
}
#loading.-visible > .text {
  top: 0;
  opacity: 1;
}

#loginForm > .menu {
  margin-top: 1.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}

#recoverDialog {
  width: 25rem;
  align-items: stretch;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
#recoverDialog > .type-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#recoverDialog > .type-wrapper > .type {
  border: 0.125rem solid #e0e0e0;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  user-select: none;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
#recoverDialog > .type-wrapper > .type > [name=type] {
  display: none;
}
#recoverDialog > .type-wrapper > .type > .title {
  font-size: 1rem;
}
#recoverDialog > .type-wrapper > .type > .message {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.25;
}
#recoverDialog > .type-wrapper > .type:hover {
  border-color: lightgray;
}
#recoverDialog > .type-wrapper > .type:has([name=type]:checked) {
  border-color: #3498db;
}
#recoverDialog > .type-wrapper:has([name=type][value=email]:checked) ~ .form.email {
  display: flex;
}
#recoverDialog > .type-wrapper:has([name=type][value=password]:checked) ~ .form.password {
  display: flex;
}
#recoverDialog > .form {
  display: none;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

#editDialog {
  width: 25rem;
  align-items: stretch;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
#editDialog > .type-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#editDialog > .type-wrapper > .type {
  border: 0.125rem solid #e0e0e0;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  user-select: none;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
#editDialog > .type-wrapper > .type > [name=type] {
  display: none;
}
#editDialog > .type-wrapper > .type > .title {
  font-size: 1rem;
}
#editDialog > .type-wrapper > .type > .message {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.25;
}
#editDialog > .type-wrapper > .type:hover {
  border-color: lightgray;
}
#editDialog > .type-wrapper > .type:has([name=type]:checked) {
  border-color: #3498db;
}
#editDialog > .type-wrapper:has([name=type][value=password]:checked) ~ .form.password {
  display: flex;
}
#editDialog > .type-wrapper:has([name=type][value=nickname]:checked) ~ .form.nickname {
  display: flex;
}
#editDialog > .form {
  display: none;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

#registerForm {
  width: 25rem;
}

#centerDialog > .content-label .content {
  resize: none;
  height: 15rem;
}
#centerDialog > .button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
#centerDialog > .button-container > ._obj-button {
  width: 30%;
}

/*# sourceMappingURL=home.css.map */
