<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="mapTypeContainer" th:fragment="mapTypeContainer">
    <div id="btnTopographicalMap" class="button">
        <div class="image-wrapper">
            <img class="image-thumbnail" src="/assets/images/maptype/지형도.jpg" alt="">
        </div>
        <span class="text">지형도</span>
    </div>
    <div id="btnCadastralMap" class="button">
        <div class="image-wrapper">
            <img class="image-thumbnail" src="/assets/images/maptype/지적도.jpg" alt="">
        </div>
        <span class="text">지적도</span>
    </div>
    <div id="btnSkyView" class="button">
        <div class="image-wrapper">
            <img class="image-thumbnail" src="/assets/images/maptype/위성지도.jpg" alt="">
        </div>
        <span class="text">위성사진</span>
    </div>
</div>
</html>