<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="_obj-dialog" id="termsOfUseDialog"
     th:fragment="termsOfUseDialog">
    <h2 class="__title">이용약관</h2>
    <div class="long-text">
        제1조 (목적)
        <br>
        <br>
        본 약관은 ㈜Budong(이하 “회사”라 한다)가 운영하는 인터넷 사이트 및 모바일 어플리케이션(이하 “Budong”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 회사와 이용자 및 이용자간의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
        <br>
        <br>
        제2조 (정의)
        <br>
        <br>
        이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
        <br>
        Budong : 회사가 제공하는 각종의 정보서비스를 이용자가 이용할 수 있는 형태로 구성한 것으로 인터넷 사이트 및 모바일 어플리케이션 등을 포함한 제반 단말기를 의미합니다.
        <br>
        이용자 : Budong에 접속하여 본 약관에 따라 회사가 제공하는 서비스를 받는 일반회원을 말합니다. 아울러 회사는 서비스의 원활한 제공을 위해 회원의 등급을 회사 내부 규정에 의해 나눌 수 있습니다.
        <br>
        일반회원 : 회사에 개인정보를 제공하고 회원가입 및 인증을 마친 자로서 부동산플래닛의 유무료 서비스를 이용할 수 있는 자를 말합니다.
        <br>
        비회원 : 회원으로 가입하지 않고 회사가 제공하는 서비스의 일부만을 이용할 수 있는 자를 말합니다.
        <br>
        아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자 또는 문자와 숫자의 조합으로서 Budong에서는 각 회원의 이메일 주소를 말합니다.
        <br>
        비밀번호 : 회원이 본인임을 확인하고, 비밀보호를 위해 회원 자신이 정한 문자, 숫자, 특수문자의 조합을 말합니다.
        <br>
        콘텐츠 : Budong에서 제공되는 일체의 게시물로서 회사의 부동산 정보 제공 또는 이용자의 매매, 임대, 임차를 위해 직접 입력한 모든 글, 사진, 동영상 등을 말합니다.
        <br>
        서비스 : Budong에서 제공하는 토지 상세정보등의 유무료 정보일체를 의미합니다.
        <br>
        본 약관에서 정하지 아니한 사항 및 본 약관의 해석에 관하여는 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 대한민국 관련 법령을 따릅니다. 회사는 필요한 경우 본 약관 이외에 별도의 서비스 운영정책을 규정할 수 있습니다.
        <br>
        <br>
        제3조(약관의 효력 및 개정)
        <br>
        <br>
        회사는 이용자가 약관의 내용을 회원이 쉽게 알 수 있도록 인터넷 사이트 및 모바일 어플리케이션에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
        <br>
        본 약관은 이용자의 동의와 회사의 승낙으로 효력이 발생합니다.
        <br>
        회원인 경우 회원가입 시 동의절차를 밟으며, 비회원인 경우 인터넷사이트에 접속하여 서비스를 이용하는 동안 본 약관에 동의한 것으로 간주합니다.
        <br>
        "회사"는 "약관의 규제에 관한 법률", "정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 "정보통신망법") 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
        <br>
        회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 공지합니다.
        <br>
        회사가 전항에 따라 회원에게 통지하면서 ‘공지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다’는 뜻을 명확하게 고지하였음에도 아무런 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다.
        <br>
        회원이 개정약관에 동의하지 않을 경우 회원은 회원탈퇴 등을 통하여 이용계약을 해지할 수 있습니다. 다만, 기존 약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사가 이용계약을 해지할 수 있습니다.
        <br>
        <br>
        제4조 (약관의 해석)
        <br>
        <br>
        회사는 개별 서비스에 대해서 별도의 이용약관 및 정책을 둘 수 있으며, 이 약관과 상충하는 내용이 있는 경우에는 해당 약관이 우선하여 적용 됩니다.
        <br>
        본 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다
        <br>
        <br>
        제5조 (회원가입 및 이용계약의 성립)
        <br>
        <br>
        이용자 중 회원이 되고자 하는 자가 약관동의를 포함하여 회사가 정하는 회원가입 절차에 따라 회원가입 신청을 완료하고, 회사가 회원가입 신청에 승낙함으로써 이용계약이 체결 됩니다.
        <br>
        이용자는 회사 홈페이지를 통하여 이용약관을 확인할 수 있으며 본 약관을 읽고 "동의" 버튼을 누르거나, "가입완료" 등에 체크하는 방법을 취한 경우, 본 약관에 동의한 것으로 간주합니다.
        <br>
        회사는 회원가입 신청 내지 기타 필요한 경우에 법령에 따른 본인인증 절차를 통해 본인여부를 확인할 수 있습니다.
        <br>
        회원가입은 반드시 본인의 진정한 정보를 통하여만 가입할 수 있으며 회사는 회원이 등록한 정보에 대하여 확인조치를 할 수 있습니다. 회원은 회사의 확인조치에 대하여 적극 협력하여야 하며, 만일 이를 준수하지 아니할 경우 회사는 회원이 등록한 정보가 부정한 것으로 간주합니다.
        <br>
        회사는 회원을 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴, 매물 등록 건 수 등을 세분화하여 이용에 차등을 둘 수 있습니다.
        <br>
        <br>
        제6조 (회원가입 유보 및 거절)
        <br>
        <br>
        회사는 가입신청자가 회원가입 절차를 성실히 수행하고, 가입신청을 완료하였을 때에는 필요한 사항을 확인한 후 지체 없이 이를 승낙하여야 합니다.
        <br>
        회사는 다음 각 호에 해당하는 신청에 대하여는 승낙하지 않거나, 사후에 이용계약을 해지할 수 있습니다.
        <br>
        ① 가입신청 내용을 허위로 기재하였거나 허위서류를 첨부하여 가입신청을 하는 경우
        <br>
        ② 가입신청자의 귀책사유로 인하여 승인이 불가능 하거나, 기타 회사가 관련 법령 등을 기준으로 하여 명백하게 사회질서 및 미풍양속에 반할 우려가 있는 것으로 판단하는 경우
        <br>
        ③ 가입신청자가 이전에 회원자격을 상실한 적이 있는 경우 (다만 회원자격 상실 후 회사가 필요하다고 판단하여 회원재가입 승낙을 얻은 경우에는 예외로 합니다.)
        <br>
        ④ 회사로부터 회원자격 정지 조치 등을 받은 회원이 그 조치기간 중에 이용계약을 임의 해지 하고 재가입 신청을 하는 경우
        <br>
        ⑤ 회원 가입이 Budong의 기술상 현저히 곤란하다고 판단되는 경우
        <br>
        ⑥ 본 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우
        <br>
        ⑦ 기타 “회사”가 정한 이용신청 요건이 만족되지 않았을 경우 또는 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우
        <br>
        회사는 다음 각 호에 해당하는 경우에는 회원등록의 승낙을 유보할 수 있습니다.
        <br>
        ①서비스 관련 설비에 현실적 여유가 없는 경우
        ②서비스를 제공하기에 기술상 또는 업무상 문제가 있는 경우
        <br>
        ③기타 회사가 재정적, 기술적으로 필요하다고 인정하는 경우
        <br>
        <br>
        제7조 (회원정보의 변경)
        <br>
        <br>
        회원은 회원정보관리 메뉴를 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 아이디(이메일)는 수정이 불가능 합니다.
        <br>
        제1항에 의해 회원정보를 변경하였을 시에 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다.
        <br>
        <br>
        제8조 (회원 탈퇴 및 자격 상실)
        <br>
        회원은 언제든지 가입 해지를 요청할 수 있으며, 회사는 즉시 회원가입해지를 처리합니다. 다만, 회원은 해지의사를 요청하기 전에 진행중인 절차를 모두 완료, 철회 또는 취소해야만 합니다.
        <br>
        해지 처리가 종료되면 회사는 회원에게 부가적으로 제공한 각종 혜택을 회수할 수 있습니다.
        <br>
        제1항에 따라 해지를 한 회원은 본 약관이 정하는 회원가입 절차 및 관련조항에 따라 신규 회원으로 다시 가입할 수 있습니다. 다만 중복 참여가 제한된 이벤트 참여 등 부정한 목적으로 회원탈퇴 후 재이용을 신청하는 경우 회사는 가입을 일정기간 동안 제한 및 거부할 수 있습니다.
        <br>
        회사는 회원이 다음 각 호에 해당하는 경우, 회사는 회원자격을 제한, 정지, 강제탈퇴등으로 이용계약을 해지할 수 있습니다.
        <br>
        ① 가입 신청 시에 허위 내용을 등록한 경우
        <br>
        ② 다른 사람의 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
        <br>
        ③ 법령 또는 본 약관을 위배하는 행위를 한 경우
        <br>
        ④ 기타 회사가 합리적인 판단에 통해 서비스의 제공을 거부할 필요가 있다고 인정할 경우
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Budong 사이트는 개발자 양성 과정 훈련용 사이트임으로 착오 없으시길 바랍니다.
    </div>
    <button class="_obj-button" name="cancelButton" type="button">돌아가기</button>
</div>
</html>