<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="_obj-dialog" id="emailDialog"
     th:fragment="emailDialog">
    <h2 class="__title">이메일 무단수집거부</h2>
    <div class="long-text">
        Budong 사이트에 방문해 주셔서 감사합니다.
        Budong 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반 시 「정보통신망이용촉진 및 정보보호 등에 관한 법률」 등에 의해 형사처벌 됨을 유념하시기 바랍니다.
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Budong 사이트는 개발자 양성 과정 훈련용 사이트임으로 착오 없으시길 바랍니다.
    </div>
    <button class="_obj-button" name="cancelButton" type="button">돌아가기</button>
</div>
</html>