<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="footer">
    <ul class="menu">
        <li class="item">
            <span>Budong</span>
        </li>
        <li class="item">
            <a href="#" class="link" rel="termsOfUseDialog">이용약관</a>
        </li>
        <li class="item">
            <a href="#" class="link" rel="privacyDialog">개인정보처리방침</a>
        </li>
        <li class="spring"></li>
        <li class="item">
            <a href="#" class="link" rel="emailDialog">이메일 무단수집거부</a>
        </li>
        <li class="item">
            <a href="#" class="link" rel="locationDialog">위치기반 이용약관</a>
        </li>
        <li class="item">
            <a href="#" class="link" rel="disclaimerDialog">책임한계</a>
        </li>
    </ul>
</footer>
</html>